<h1>Bienvenue<p class="name"><%= @user %> </p> sur <p class="tgp">The Gossip Project</p> </h1>

<h2>Voici tout les potins :</h2>

<div class="row">
<% @gossips.each_with_index do |gossip| %>

<div class="card col-sm-2 col-md-2 col-md-3 col-3 text-white bg-dark">
          <div class="card-header">Potin n°<%= gossip.id %>
          <div class="card-body">
          <h5 class="card-title"><%= gossip.user.first_name %></h5>
          <p class="card-text"><%= gossip.title %></p>
          <a href="gossip/<%= gossip.id %>" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Lien du potin</a>
          </div>
        </div>
        </div>
<% end %>

</div>